# Review Question 3

In [12]:
two_n = ((1,2), (3,4))
print(two_n)

([1, 2], [3, 4])

In [15]:
two_n = ([1,2], [3,4])
for n in range(1, 2):
    print(two_n)

([1, 2], [3, 4])

In [20]:
data = ((1, 2), (3, 4))
for i, nested_tuple in enumerate(data, 1):
    tuple_sum = sum(nested_tuple)
    print(f" Row {i} The sum: {tuple_sum}")

 Row 1 The sum: 3
 Row 2 The sum: 7

In [24]:
num = [1, 2, 3, 4, 5]
numcop = num[:]
numcop

[1, 2, 3, 4, 5]

In [27]:
num = [5, 2, 4, 1, 3]
num.sort()
num

[1, 2, 3, 4, 5]